@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle-clip-background {
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}

body {
  color: #544e4a;
  font-family: 'Roboto Flex', sans-serif;
}

.home-background {
  background-image: url('./assets/background/bg-konfigurator.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

.gradient-text {
  background: linear-gradient(45deg, #79716b, #544e4a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

